*{
    margin: 0;
}

body{
    height: 100%;
}

.h{
    text-align: center;
}

.margin{
    margin: 15px;
}

.l{
    line-height: 22px;
}

.p{
    padding-left: 15px;
}

#pic{
    height: 35vh;
    width: 100%;
    background-color: black;
    align-items: center;
    display: flex;
}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.aa{
    width: 15em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aa:hover{
    background-color: #f50f0f;
    color: white;
  }  

.bb:hover{
    animation :anime 3s infinite ease-in-out alternate 3s;
}

.navigation{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

#home{
    background-color: black;
    color: aliceblue;
}

.skills{
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* .skills:hover{
    border-color: #f50f0f;
    border-width: 2px;
} */

.academics{
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* .academics:hover{
    border-color: #f50f0f;
    border-width: 2px;
} */

#internships{
    background-color: #F9E8D4;
}

.container1{
    display: flex;
    justify-content: space-evenly;
    background-color: #F9E8D4;
}

.container{
    background-color: #e0e1dd;
    padding: 15px;
    margin: 0;
}

.contacts{
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#query{
    /* display: block;
    font-size: large; */
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #F9E8D4;
    align-items: center;
    font-size: 2.2rem;
}

button{
    color: whitesmoke;
    border-radius: 8%;
    height: 2rem;
    background-color: #f50f0f;
}
