*{
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 100%;
}

input{
    height: 25px;
    width: 35em;
    border: 1px solid bisque;
    border-radius: 10px;
}

.h{
    text-align: center;
}

.margin{
    margin: 15px;
}

.l{
    line-height: 22px;
}

.p{
    padding-left: 15px;
}

#pic{
    height: 35vh;
    width: 100%;
    background-color: black;
    align-items: center;
    display: flex;
}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.aa{
    width: 15em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aa:hover{
    background-color: #f50f0f;
    color: white;
  }  

.bb:hover{
    animation :anime 3s infinite ease-in-out alternate 3s;
}

.navigation{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

#home{
    background-color: black;
    color: aliceblue;
}

.skills{
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.academics{
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#internships{
    background-color: #F9E8D4;
}

.container1{
    display: flex;
    justify-content: space-evenly;
    background-color: #F9E8D4;
}

.container{
    background-color: #e0e1dd;
    padding: 15px;
    margin: 0;
}

.container #contacts{
    margin-left: 27vw;
}

#contacts{
    background-color: #F9E8D4;
    width: 45%;
    padding-bottom: 10px;
    border: 1px solid rgb(161, 151, 151);
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacts button{
    margin-left: 15vw;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #F9E8D4;
    align-items: center;
    font-size: 2.2rem;
}

button{
    color: whitesmoke;
    border-radius: 5px;
    height: 2rem;
    background-color: #472147;
    cursor: pointer;
}

button:hover{
    background-color: rgb(244, 197, 244);
    color: #472147;

}

.progress{
    width: 100%;
}

.l1:hover{
    animation: anime 1s infinite ease-in-out alternate ;
}

@keyframes anime {
    to{
        height: 350px;
        width: 275px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(244, 197, 244);
    }
}