#pic{
    height: 35vh;
    width: 100%;
    background-color: black;
    align-items: center;
    display: flex;
}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.aa{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: aliceblue;
    float: left;
    background-color: black;
}

.aa:hover:not(.active) {
    background-color: #f50f0f;
    color: white;
  }
  

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#home{
    background-color: black;
    color: aliceblue;
    position: relative;
    bottom: 25px;
}


#skills{
    background-color: #F9E8D4;
}

#academics{
    background-color: #F9E8D4;
}

#internships{
    background-color: #F9E8D4;
}

#projects{
    background-color: #e0e1dd;
}

#contacts{
    background-color: #e0e1dd;
}

footer{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #F9E8D4;
    align-items: center;
    font-size: 2.2rem;
}

button{
    color: whitesmoke;
    border-radius: 9%;
    background-color: #f50f0f;
}
.container1{
    background-color: #F9E8D4;
    position: relative;
    bottom: 44px;
}
